.container {
   position: relative;
   /* width: 50%; */
   margin: 0 auto;
}
.header {
   display: flex;
   width: 100%;
   padding: 0;
   border-radius: 0;
   z-index: 99;
 }
 .header ul {
   min-width: min-content ;
   display: flex;
   justify-content: space-evenly;
   margin: 0;
   z-index: 0;
 }
 .header li{
   text-transform: uppercase;
   list-style: none;
   padding: .5rem 0;
   margin: .5rem;
 }
 .header a {
    padding: .5rem;
    text-decoration: none;
    color: grey;
    border-radius: 0;
 }
 .header a:hover {
    box-shadow: 0 2px 1px rgb(240, 240, 240);
    color: black;
 }
 .active a {
   box-shadow: 0 2px 1px rgb(240, 240, 240);
 }
 .active a:hover {
   color: grey;
   cursor: auto;

 }
 .main {
    width: 100%;
 }
.footer {
   height: min-content;
   width: 100%;
   padding-top: 1rem;
   margin-top: 2rem;
   background-color: white;
   border-radius: 0;
 }
 .footer p {
    font-size: .7rem;
    text-align: center;
    opacity: .4;
    padding-bottom: 1rem;
    margin-bottom: 0;
 }
 .logos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }
 .logos .img_wrapper {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
 }
 .logos img {
   height: 100%;
   
  }
  @media only screen and (max-width: 800px) {
    
    .container {
      width: 100%;
    }
    .header {
      padding-bottom: 1rem;
    }
    .header ul {
      width: 100%;
    }
    .header li{
      padding: 1rem 0;
      margin: .5rem 0 0 0;
    }
    .header a {
      padding: .3rem;
    }
    .footer {
      height: min-content;
      width: 100%;
      padding: 0;
      background-color: white;
    }
    .footer p {
      text-align: center;
      opacity: .4;
      padding-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .header li {
      font-size: .8rem;
    }
    .logos .img_wrapper {
      width: 1rem;
      height: 1rem;
    }
  }
