.container {
   position: relative;
   width: 80%;
   margin: 0 auto;
}
.header {
   display: flex;
   width: 100%;
   padding: 0;
   /* background-color: #1E1E1E; */
   border-radius: 0;
   z-index: 99;
 }
 .header ul {
   min-width: min-content ;
   display: flex;
   justify-content: space-evenly;
   margin: 0;
   z-index: 0;
 }
 .header li{
   text-transform: uppercase;
   list-style: none;
   padding: .5rem 0;
   margin: .5rem;
 }
 .header a {
    padding: .5rem;
    text-decoration: none;
    color: green;
    color: grey;
    border-radius: 0;
 }
 .header a:hover {
 }
 .active a {
   box-shadow: 0 2px 1px rgb(240, 240, 240);
 }
 .active a:hover {
   color: black;
   cursor: auto;

 }
 .main {
    width: 100%;
 }
.footer {
   height: min-content;
   width: 100%;
   padding-top: 1rem;
   margin-top: 2rem;
   background-color: white;
   border-radius: 0;
 }
 .footer p {
    font-size: .7rem;
    text-align: center;
    opacity: .4;
    padding-bottom: 1rem;
    margin-bottom: 0;
 }
 .logos {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
 }
 .logos img {
    height: 2rem;
 }
 @media only screen and (max-width: 800px) {
    
    .container {
      width: 100%;
   }
   .header {
      padding-bottom: 1rem;
   }
   .header ul {
      width: 100%;
   }
   .header li{
      padding: 1rem 0;
      margin: .5rem 0 0 0;
    }
    .header a {
       padding: .3rem;
    }
    .footer {
      height: min-content;
      width: 100%;
      padding: 0;
      background-color: white;
    }
    .footer p {
       text-align: center;
       opacity: .4;
       padding-bottom: 1rem;
    }
    .logos img {
       height: 1.9rem;
       padding-top: .2rem;
    }
}
@media only screen and (max-width: 600px) {
   .header li {
      font-size: .8rem;
   }
   .logos img {
      height: 1.6rem;
   }
}
