.container {
   position: relative;
   width: 80%;
   margin: 0 auto;
}
.header {
   display: flex;
   width: 100%;
   padding: 0;
   background-color: #1E1E1E;
   border-radius: 0;
   z-index: 99;
 }
 .header ul {
   min-width: min-content ;
   display: flex;
   justify-content: space-evenly;
   margin: 0;
   z-index: 0;
 }
 .header li{
   /* text-transform: uppercase; */
   list-style: none;
   /* padding: .5rem 0; */
   margin: .5rem;
 }
 .header a {
    padding: .5rem;
    /* color: #495057;   */
    /* color: #b9efff; */
    text-decoration: none;
    color: green;
 }
 .header a:hover {
   /* border-bottom: .5px solid rgba(128, 128, 128, 0.199); */
   color: green;
   text-decoration: underline;
   transition: none;
 }
 .active a {
   color: #b9efff;
 }
 .active a:hover {
   color: #b9efff;
   text-decoration: none;
   cursor:auto;

 }
 .outcomment {
    font-family: courier monospace;
    display: initial;
    color: green;
 }
 .active .outcomment {
    display: none;
    color: green;
 }
 .main {
    width: 100%;
 }
.footer {
   height: min-content;
   width: 100%;
   padding-top: 1rem;
   margin-top: 2rem;
   background-color: white;
   border-radius: 0;
 }
 .footer p {
    font-size: .7rem;
    text-align: center;
    opacity: .4;
    padding-bottom: 1rem;
    margin-bottom: 0;
 }
 .logos {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
 }
 .logos img {
    height: 2rem;
 }
 @media only screen and (max-width: 768px) {
    
    .container {
      width: 100%;
   }
   .header {
      padding-bottom: 1rem;
   }
   .header ul {
      width: 100%;
   }
   .header li{
      padding: 1rem 0;
      margin: .5rem 0 0 0;
    }
    .header a {
       padding: .3rem;
    }
    .footer {
      height: min-content;
      width: 100%;
      padding: 0;
      background-color: white;
    }
    .footer p {
       text-align: center;
       opacity: .4;
       padding-bottom: 1rem;
    }
    .logos img {
       height: 1.9rem;
       padding-top: .2rem;
    }
}
@media only screen and (max-width: 320px) {
   .header li {
      font-size: .8rem;
   }
   .logos img {
      height: 1.6rem;
   }
}
