.posts_container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 100%;
   margin: 0 auto;
   text-align: initial;
}

.post {
   position: relative;
   background-color: rgb(253, 253, 253);
   width: 32%;
   min-height: 20rem;
   margin-top: 1rem;
   cursor: pointer;
   border: 1px solid rgba(128, 128, 128, 0);
   transition: inherit;

}
.post:hover {
   background-color: white;
   border: 1px solid rgba(128, 128, 128, 0.308);
}
.posts_container h2 {
   font-size: 1rem;
   margin: 1rem;
   color: #689FF1;
}
.post p {
   font-size: .9rem;
   line-height: 1rem;
   margin: 1rem;
}
.post a {
   
   color: #689FF1;
   text-decoration: none;
}
.post span {
   font-size: 1.5rem;
   font-weight: 200;
   color: white;
   position: absolute;
   top: .1rem;
   right: .1rem;
   display: block;
   text-align: right;
   z-index: 99;
}
.posts_container .mask {
   width: 100%;
   background-color: rgb(243, 136, 65);
   height: 7rem;
   overflow: hidden;
   border-radius: none;
}
.posts_container img {
   border-radius: none;
   width: 100%;
   opacity: .7;
}

@media only screen and (max-width: 414px){
   .posts_container {
      flex-wrap: wrap;
   }
   .post {
      width: 95%;
      margin: .5rem auto;
      min-height: 10rem;
   }
}