.posts_container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 100%;
   margin: 0 auto;
   /* padding-top: 1.5rem; */
   text-align: initial;
}
.post {
   position: relative;
   background-color: rgb(253, 253, 253);
   width: 32%;
   min-height: 25rem;
   margin-top: 1rem;
   cursor: pointer;
   border: 1px solid rgba(128, 128, 128, 0);
   transition: inherit;

}
.post:hover {
   background-color: white;
   border: 1px solid rgba(128, 128, 128, 0.308);
}
.post img {
   width: 100%;
   display: block;
   padding: 1rem;
   margin-top: 1rem;
}
.posts_container h2 {
   font-size: 1rem;
   margin: 1rem;
   color: #689FF1;
}
.post p {
   font-size: .9rem;
   margin: 1rem;
}
.post a {
   
   color: #689FF1;
   text-decoration: none;
}
.post span {
   font-size: 1.5rem;
   font-weight: 200;
   position: absolute;
   top: 0;
   right: 0;
   /* margin: 1rem; */
   display: block;
   text-align: right;
}
.post span:hover {
   /* margin: 1rem; */
}
@media only screen and (max-width: 414px){
   .posts_container {
      flex-wrap: wrap;
   }
   .post {
      width: 95%;
      margin: .5rem auto;
   }
   /* .posts_container h2 {
      font-size: .2rem;
      line-height: initial;
      padding: .5rem;
      margin: .1rem;
      color: #689FF1;
      color: red;
   }
   .recent_post p {
      font-size: .9rem;
      margin: 1rem;
   } */
}