.container {
   width: 100%;
   background-color:white;
   margin: 0 0 2rem 0;
   padding: 2rem 0;
}
.container h2 {
   margin: 1rem; /* global.css override */
   padding: 0;
}
.container h2 a {
   padding: 1rem;
   color: #495057;
   text-decoration: none;
   border: .5px solid rgba(128, 128, 128, 0);

}
.container h2 a:hover {
   border: .5px solid rgba(128, 128, 128, 0.199);
}
.stack_info {
   height: 2rem;
}
.stack_info h3 {
   font-size: 2rem;
}
.logos {
   height: 4rem;

}
.logos img {
   height: 90%;
   /* margin: .2rem .3rem; */
   padding: 1rem;
}
.logos img:hover {
   height: 100%;
}
.github_logo img {
   height: 2rem;
   border: .1px solid rgba(144, 159, 209, 0);
   /* transition: .7s; */
}
.github_logo img:hover {
   height: 2.3rem;
   border: .1px solid rgb(144, 159, 209);
}
.screenshots {
   margin-top: 2rem;
}
.desktop_screenshots img {
   width: 45%;
   margin: 0 1%;
   border: .1px solid grey;
}
.tablet_and_mobile_container {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tablet_screenshots {
   width: 50%;
   text-align: right;
}
.tablet_screenshots img {
   width: 60%;
   margin: 0 .1rem;
}
.mobile_screenshots {
   /* display: flex; */
   width: 50%;
   text-align: left;

}
.mobile_screenshots img {
   width: 20%;
   margin: 0 .1rem;
}
@media only screen and (max-width: 414px){
   .container h2 {
      padding-bottom: 0;
   }
   .container h2 a {
      padding-bottom: .5rem;
      font-size: 1rem;
      
   }
   .container h3 {
      padding: .5rem;
      font-weight: 200;
      /* color: red; */
   }
   .container {
      background-color:white;
      margin: 1rem 0;
      padding: 0;
   }
   .tablet_and_mobile_container {
      display: initial;
   }
   .desktop_screenshots img {
      /* display: block */
      width: 80%;
      margin: .3rem auto;
      border: .1px solid grey;
   }
   .tablet_screenshots {
      width: 100%;
      text-align: center;
   }
   .mobile_screenshots {
      width: 100%;
      text-align: center;
   }
}
