.posts_container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
   
   margin: 0 auto;
   text-align: initial;
}
.recent_post {
   position: relative;
   background-color: white;
   width: 32%;
   min-height: 25rem;
   opacity: .6;
   cursor: pointer;
   border: 1px solid rgba(128, 128, 128, 0);
   transition: inherit;

}
.recent_post:hover {
   opacity: 1;
   border: 1px solid rgba(128, 128, 128, 0.308);
}
.recent_post img {
   width: 100%;
   display: block;
   padding: 1rem;
   /* opacity: .6; */
}
.posts_container h2 {
   font-size: 1rem;
   margin: 1rem;
   color: #689FF1;
}
.recent_post p {
   font-size: .9rem;
   margin: 1rem;
}
.recent_post a {
   
   color: #689FF1;
   text-decoration: none;
}
.recent_post span {
   font-size: 2rem;
   font-weight: 200;
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 1rem;
   display: block;
   text-align: right;
}
.recent_post span:hover {
   /* margin: 1rem; */
}
@media only screen and (max-width: 414px){
   .posts_container {
      flex-wrap: wrap;
   }
   .recent_post {
      width: 95%;
      margin: .5rem auto;
   }
   /* .posts_container h2 {
      font-size: .2rem;
      line-height: initial;
      padding: .5rem;
      margin: .1rem;
      color: #689FF1;
      color: red;
   }
   .recent_post p {
      font-size: .9rem;
      margin: 1rem;
   } */
}