.container {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   height: min-content;
}
.resume_wrapper {
   width: 100%;
   margin: 0 auto;
   padding: 2rem 0;
   /* background-color: white; */
}

.resume_wrapper p {
   width: 60%;
   font-size: .9rem;
   line-height: 1rem;
   font-weight: 400;
   /* text-align: j; */
   margin: .3rem auto;
}
.resume_wrapper ul {
   margin-left: 1rem;
}
.resume_wrapper li {
   font-size: .8rem;
}

@media only screen and (max-width: 414px) {
   .resume_wrapper p {
      width: 90%;
   }
}
