.container {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}
.section_description {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 2rem;
   font-size: 4rem;
   font-weight: 400;
}
   .curly_brackets {
      font-size: 7rem;
      font-weight: 100;
      vertical-align: middle;
      color: orange;
   }
   .section_description h1 {
      margin: 1.6rem 0;
      letter-spacing: .3rem;
   }
.sloohVideo {
   width: 100%;
   margin: 0 auto;
   height: 80vh;
}

@media only screen and (max-width: 800px) {
   .section_description {
      font-size: 2.8rem;
      letter-spacing: 1px;
      font-weight: 200;
   }
      .curly_brackets {
         font-size: 6rem;
      }
   
   .sloohVideo {
      width: 100%;
      margin: 0 auto;
      height: 500px;
   }
}
@media only screen and (max-width: 600px) {
   /* .container h1 {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: .1rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: .2rem;
   } */
   .section_description {
      font-size: 1.2rem;
      letter-spacing: 1px;
      font-weight: 200;
   }
      .curly_brackets {
         font-size: 4rem;
      }
   .sloohVideo {
      width: 100%;
      margin: 0 auto;
      height: 200px;
   }
}
