
html,
body {
   /* max-width: 1200px; */
   /* padding: 0;
   margin: 0 auto;
   font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Roboto,
               Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol,
               Noto Color Emoji;
   font-size: 18px;
   font-weight: 300; */
   /* letter-spacing: 1px; */
   /* color: #666666;
   background-color: rgb(250, 248, 248); */
}

/* p {
   line-height: 1.5rem;
   margin: 1rem 0;
}
ul {
   margin-left: 2rem;
}
li {
   list-style: initial;
   line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}
* {
   border-radius: 5px;
}
* :hover {
   transition: .2s;
} */

