
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(58, 56, 56, 0.452);
}
/* 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
